header {
   
    .carbox {
        bottom: 248px;
        left: 250px;
        .test-img {
            img{
                position: relative;
            }
        }

        .text-box43 {

            z-index: 3;
            position: relative;
            left: 5%;
            top: 50%;
            transform: translate(-50% -5%);

            h2 {
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 60px;
            }

            h1 {
                color: white;
                font-size: 60px;
                font-weight: bold;
            }
p{
    color: white;
}
            a {
                text-decoration: none;
                border: 1px solid orange;
                padding: 10px 35px;
                border-radius: 8mm;
                color: #10223A;

                background-color: orange;

                &:hover {
                    background-color: #10223A;
                    box-shadow: 0 0 20px 0 white;
                    color: white;
                }
            }

        }
    }

    .hedbox {
        padding-top: 200px;
        background-color: #10223A;
        position: fixed;
        

        .boxs23 {
            a {
                text-decoration: none;
                color: white;
                

                &:hover {
                    padding: 10px;
                    color: #10223A;
                    background-color: orange;
                    border-top-left-radius: 4.5mm;
                    border-top-right-radius: 5mm;
                    border-bottom-right-radius: 7.5mm;
                    border-bottom-left-radius: 6mm;
                }

            }

            .pag {
                ul {
                    margin-left: 20000px;
                    position: absolute;
                    width: 200px;
                    height: 170px;
                    list-style: none;
                    opacity: 0;
                    background-color: whitesmoke;
                    z-index: 2;

                    li {
                        a {

                            font-weight: bolder;
                            color: #10223A;
                            text-align: center;
                            margin-top: 20px;
                            margin-right: 25px;
                            transition: 0.6s;
                            margin-right: 200px;

                            /* Sağa kaydırma */
                            &:hover {
                                opacity: 1;
                                color: white;
                            }
                        }
                    }
                }
            }








        }
    }
}